code: "PEAR.Classes.ClassDeclaration"
standard: "PEAR"
category: "Classes"
name: "ClassDeclaration"
class: "PHP_CodeSniffer\\Standards\\PEAR\\Sniffs\\Classes\\ClassDeclarationSniff"
description: "Checks the declaration of the class is correct."

examples:
	[]
