code: "PSR12.Functions.ReturnTypeDeclaration"
standard: "PSR12"
category: "Functions"
name: "ReturnTypeDeclaration"
class: "PHP_CodeSniffer\\Standards\\PSR12\\Sniffs\\Functions\\ReturnTypeDeclarationSniff"
description: "Ensure return types are defined correctly for functions and closures."

examples:
	[]
