code: "PSR12.ControlStructures.BooleanOperatorPlacement"
standard: "PSR12"
category: "ControlStructures"
name: "BooleanOperatorPlacement"
class: "PHP_CodeSniffer\\Standards\\PSR12\\Sniffs\\ControlStructures\\BooleanOperatorPlacementSniff"
description: "Checks that control structures have boolean operators in the correct place."

properties:

examples:
	[]
