code: "PSR12.Traits.UseDeclaration"
standard: "PSR12"
category: "Traits"
name: "UseDeclaration"
class: "PHP_CodeSniffer\\Standards\\PSR12\\Sniffs\\Traits\\UseDeclarationSniff"
description: "Verifies that trait import statements are defined correctly."

examples:
	[]
