code: "SlevomatCodingStandard.Classes.RequireAbstractOrFinal"
standard: "SlevomatCodingStandard"
category: "Classes"
name: "RequireAbstractOrFinal"
class: "SlevomatCodingStandard\\Sniffs\\Classes\\RequireAbstractOrFinalSniff"
description: ""

examples:
	[]
