code: "SlevomatCodingStandard.Namespaces.UselessAlias"
standard: "SlevomatCodingStandard"
category: "Namespaces"
name: "UselessAlias"
class: "SlevomatCodingStandard\\Sniffs\\Namespaces\\UselessAliasSniff"
description: ""

examples:
	[]
