code: "SlevomatCodingStandard.Classes.DisallowConstructorPropertyPromotion"
standard: "SlevomatCodingStandard"
category: "Classes"
name: "DisallowConstructorPropertyPromotion"
class: "SlevomatCodingStandard\\Sniffs\\Classes\\DisallowConstructorPropertyPromotionSniff"
description: ""

examples:
	[]
