code: "SlevomatCodingStandard.Commenting.RequireOneLinePropertyDocComment"
standard: "SlevomatCodingStandard"
category: "Commenting"
name: "RequireOneLinePropertyDocComment"
class: "SlevomatCodingStandard\\Sniffs\\Commenting\\RequireOneLinePropertyDocCommentSniff"
description: ""

examples:
	[]
