code: "SlevomatCodingStandard.Namespaces.UnusedUses"
standard: "SlevomatCodingStandard"
category: "Namespaces"
name: "UnusedUses"
class: "SlevomatCodingStandard\\Sniffs\\Namespaces\\UnusedUsesSniff"
description: ""

properties:

examples:
	[]
