code: "SlevomatCodingStandard.Commenting.RequireOneLineDocComment"
standard: "SlevomatCodingStandard"
category: "Commenting"
name: "RequireOneLineDocComment"
class: "SlevomatCodingStandard\\Sniffs\\Commenting\\RequireOneLineDocCommentSniff"
description: ""

examples:
	[]
