code: "SlevomatCodingStandard.Numbers.DisallowNumericLiteralSeparator"
standard: "SlevomatCodingStandard"
category: "Numbers"
name: "DisallowNumericLiteralSeparator"
class: "SlevomatCodingStandard\\Sniffs\\Numbers\\DisallowNumericLiteralSeparatorSniff"
description: ""

examples:
	[]
