code: "SlevomatCodingStandard.Commenting.RequireOneDocComment"
standard: "SlevomatCodingStandard"
category: "Commenting"
name: "RequireOneDocComment"
class: "SlevomatCodingStandard\\Sniffs\\Commenting\\RequireOneDocCommentSniff"
description: ""

examples:
	[]
