code: "SlevomatCodingStandard.TypeHints.DisallowMixedTypeHint"
standard: "SlevomatCodingStandard"
category: "TypeHints"
name: "DisallowMixedTypeHint"
class: "SlevomatCodingStandard\\Sniffs\\TypeHints\\DisallowMixedTypeHintSniff"
description: ""

examples:
	[]
