code: "SlevomatCodingStandard.Namespaces.NamespaceDeclaration"
standard: "SlevomatCodingStandard"
category: "Namespaces"
name: "NamespaceDeclaration"
class: "SlevomatCodingStandard\\Sniffs\\Namespaces\\NamespaceDeclarationSniff"
description: ""

examples:
	[]
