code: "SlevomatCodingStandard.Attributes.AttributesOrder"
standard: "SlevomatCodingStandard"
category: "Attributes"
name: "AttributesOrder"
class: "SlevomatCodingStandard\\Sniffs\\Attributes\\AttributesOrderSniff"
description: ""

properties:

examples:
	[]
