code: "SlevomatCodingStandard.Classes.TraitUseDeclaration"
standard: "SlevomatCodingStandard"
category: "Classes"
name: "TraitUseDeclaration"
class: "SlevomatCodingStandard\\Sniffs\\Classes\\TraitUseDeclarationSniff"
description: ""

examples:
	[]
