code: "SlevomatCodingStandard.Functions.DisallowEmptyFunction"
standard: "SlevomatCodingStandard"
category: "Functions"
name: "DisallowEmptyFunction"
class: "SlevomatCodingStandard\\Sniffs\\Functions\\DisallowEmptyFunctionSniff"
description: ""

examples:
	[]
