code: "SlevomatCodingStandard.Classes.ClassStructure"
standard: "SlevomatCodingStandard"
category: "Classes"
name: "ClassStructure"
class: "SlevomatCodingStandard\\Sniffs\\Classes\\ClassStructureSniff"
description: ""

properties:

examples:
	[]
