code: "SlevomatCodingStandard.Classes.SuperfluousTraitNaming"
standard: "SlevomatCodingStandard"
category: "Classes"
name: "SuperfluousTraitNaming"
class: "SlevomatCodingStandard\\Sniffs\\Classes\\SuperfluousTraitNamingSniff"
description: ""

examples:
	[]
