code: "SlevomatCodingStandard.Namespaces.UseDoesNotStartWithBackslash"
standard: "SlevomatCodingStandard"
category: "Namespaces"
name: "UseDoesNotStartWithBackslash"
class: "SlevomatCodingStandard\\Sniffs\\Namespaces\\UseDoesNotStartWithBackslashSniff"
description: ""

examples:
	[]
