code: "SlevomatCodingStandard.Commenting.UselessInheritDocComment"
standard: "SlevomatCodingStandard"
category: "Commenting"
name: "UselessInheritDocComment"
class: "SlevomatCodingStandard\\Sniffs\\Commenting\\UselessInheritDocCommentSniff"
description: ""

examples:
	[]
