code: "SlevomatCodingStandard.Classes.SuperfluousErrorNaming"
standard: "SlevomatCodingStandard"
category: "Classes"
name: "SuperfluousErrorNaming"
class: "SlevomatCodingStandard\\Sniffs\\Classes\\SuperfluousErrorNamingSniff"
description: ""

examples:
	[]
