code: "SlevomatCodingStandard.Namespaces.UseFromSameNamespace"
standard: "SlevomatCodingStandard"
category: "Namespaces"
name: "UseFromSameNamespace"
class: "SlevomatCodingStandard\\Sniffs\\Namespaces\\UseFromSameNamespaceSniff"
description: ""

examples:
	[]
