code: "SlevomatCodingStandard.Commenting.DisallowCommentAfterCode"
standard: "SlevomatCodingStandard"
category: "Commenting"
name: "DisallowCommentAfterCode"
class: "SlevomatCodingStandard\\Sniffs\\Commenting\\DisallowCommentAfterCodeSniff"
description: ""

examples:
	[]
