code: "Squiz.Scope.MemberVarScope"
standard: "Squiz"
category: "Scope"
name: "MemberVarScope"
class: "PHP_CodeSniffer\\Standards\\Squiz\\Sniffs\\Scope\\MemberVarScopeSniff"
description: "Verifies that class members have scope modifiers."

examples:
	[]
