code: "Squiz.WhiteSpace.SuperfluousWhitespace"
standard: "Squiz"
category: "WhiteSpace"
name: "SuperfluousWhitespace"
class: "PHP_CodeSniffer\\Standards\\Squiz\\Sniffs\\WhiteSpace\\SuperfluousWhitespaceSniff"
description: "Checks for unneeded whitespace."

properties:

examples:
	[]
